<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="#">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="#">Inventories</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="#">Stock</a>
            </li>
          </ul>
        </div>
      </nav> 

   
    <div class="container">
        <div class="row">
          <div class="col-4">
            <nav class ="navbar bg-dark">
                <ul class ="navbar-nav">
                <li class ="nav-item">
                <a  href="#"> Nav Menu </a>
                </li>
                <li class ="nav-item">
                <a href="#"> Dashboard </a>
                </li>
                <li class ="nav-item">
                <a  href="#"> Inventories </a>
                </li>
                <li class ="nav-item">
                <a  href="#"> Sales </a>
                </li>
                <li class ="nav-item">
                    <a  href="#"> Stock </a>
                    </li>
                <li class ="nav-item">
                        <a  href="#"> Users </a>
                 </li>
                </ul>
                </nav>
          </div>


          <div class="col-8">
            <div class="container">
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + Add new item
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/saledata" method="post">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="text">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="text">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Select category</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="product">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Buying price</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Text">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Selling price</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Text">
              </div>
            </div>
          
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>    
            
            
            
            
            
            
            </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sale id</th>
                        <th scope="col">Product id</th>
                        <th scope="col">quantity</th>
                        <th scope="col">sale date</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for sale in sales %} 
                      <tr>
                        <td>{{sale[0]}}</td>
                        <td>{{sale[1]}}</td>
                        <td>{{sale[2]}}</td>
                        <td>{{sale[3]}}</td>
                      </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
                </div>
               
               
              </div>
            </div>  
          </div>

        </div>




</body>
</html>